.header-placeholder {
  height: 70px;
}

/* menu */
header {
  position: relative;
}

nav {
  font-size: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  padding: 0 15px;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 0.9;
  z-index: 100;
}

nav ul {
  width: calc(100% - 142px);
  display: inline-block;
  text-align: right;
  list-style: none;
  font-size: 0;
  background-color: white;
}
div.hamburger-icon {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  height: 100%;
  padding-left: 30px;
  display: none;

  i.fas.fa-bars {
    color: #08a6e4;
    font-size: 30px;
    line-height: 70px;
    display: block;
  }
}
.active {
  display: block;
}

nav div > a {
  display: inline-block;
  vertical-align: -5px;
  font-size: 32px;
  color: #08a6e4;
  width: 142px;
  height: 70px;
  font-family: "Raleway", sans-serif;
}

nav ul li {
  display: inline-block;
  margin-left: 70px;
}

nav ul li a {
  line-height: 70px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-family: arial;
  font-size: 11px;
  letter-spacing: 3.28px;
  color: #a5a5a5;
  opacity: 1;
  font-family: "Open Sans", sans-serif;
}
li:hover a {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid #08a6e4;
  padding-bottom: 28px;
}

//LG
@media (min-width: 992px) and (max-width: 1199px) {
}

//MD
@media (min-width: 768px) and (max-width: 991px) {
}

//XS and SM
@media (max-width: 767px) {
  nav {
    opacity: 1;
    padding: 0;

    .container {
      max-width: none;
      line-height: 70px;
      padding: 0 15px;
    }

    ul {
      display: none;
      text-align: left;
      width: 100%;

      li {
        display: block;
        margin: 0;
        margin: 0 -15px;
        padding: 0 15px;
        background-color: white;

        a {
          text-transform: uppercase;
          text-align: left;
        }
      }
    }

    div.hamburger-icon {
      display: inline-block;

      i.fas.fa-bars {
        display: block;
      }
    }
  }
}

//SM
@media (min-width: 576px) and (max-width: 767px) {
}

//XS
@media (max-width: 576px) {
}
