.pop-up {
  background-color: #f7f7f7;
  height: auto;
  font-family: "Raleway", sans-serif;

  .pop-up-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    h2 {
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 35px;
      margin: 10px 0 20px 0;
      padding: 30px;
    }
    .forms {
      display: inline-block;
      flex-basis: 50%;
      height: 300px;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 50%;
        height: 400px;

        input {
          display: block;
          width: 35vw;
          height: 5.5vh;
          margin: 10px 0;
          padding: 0 15px;
          font-family: "Raleway", sans-serif;
          border: 1px solid #08a6e4;
          border-radius: 5px;
          box-shadow: 2px #08a6e4;

          &::placeholder {
            font-family: "Raleway", sans-serif;
            color: #a5a5a5;
            font-size: 13px;
          }
        }

        input:first-of-type {
          margin-top: 0;
        }

        .checkbox {
          position: relative;
          width: 35vw;
          margin-top: 10px;

          input {
            width: 20px;
            height: 20px;
          }
          p {
            position: absolute;
            font-size: 12px;
          }
          p:nth-of-type(1) {
            top: 2px;
            left: 50px;
          }
          p:nth-of-type(2) {
            top: 34px;
            left: 50px;
          }
        }
      }
    }
    .calculator {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 50%;
      height: 400px;

      div {
        display: flex;
        justify-content: space-between;
        color: white;
        span {
          padding: 0 10px;
          align-self: center;
        }

        &:not(:last-of-type) {
          width: 35vw;
          height: 5.5vh;
          background-color: #55dfb4;
          margin: 10px 0;
          border-radius: 5px;
        }

        &:first-of-type {
          display: flex;
          margin-top: 0;
          justify-content: space-between;
        }
        &:last-of-type {
          display: block;
          width: 35vw;
          text-align: right;
        }
      }
      button {
        margin-top: 10px;
        width: 17vw;
        height: 6vh;
        border-radius: 10px;
        background-color: #08a6e4;
        border: none;
        color: white;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
      }
    }
  }
}

//Custom select
.custom-select {
  width: 35vw;
  height: 5.5vh;
  margin: 10px 0;
  padding: 0 15px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 5.5vh;
  border: 1px solid #08a6e4;
  border-radius: 5px;
  box-shadow: 2px #08a6e4;
  background-color: white;
  position: relative;
  color: #a5a5a5;

  .selected-option {
    &:hover {
      cursor: pointer;
    }
  }

  .dropdown {
    display: none;
    color: #000;
    line-height: normal;
    position: absolute;
    width: 100%;
    top: 5.5vh;
    left: 0;
    background-color: white;
    border: 1px solid #eb476e;
    border-radius: 5px;
    box-shadow: 2px #eb476e;
    z-index: 100;

    &.open {
      display: block;
    }

    div {
      padding: 7px 10px;

      &:hover {
        color: #eb476e;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 350px) and (max-width: 991px) {
  .pop-up {
    .pop-up-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .forms {
        form {
          height: auto;
          input {
            width: 70vw;
          }
        }
        .checkbox {
          margin-bottom: 50px;
        }
      }
      .calculator {
        height: auto;

        div {
          &:nth-of-type(n + 1) {
            width: 70vw;
          }
        }
        &:last-of-type {
          margin-bottom: 50px;
          text-align: right;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 576px) {
}
